
body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: #5f6368;
    font-family: 'Product Sans',Arial,sans-serif;
}

.header {
    width: 100%;
    height: 8%;
    display: flex;
    padding: 8px;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.iconButton {
    background: transparent;
    border: none;
    padding: 10px;
    outline: none;
}

.iconButton:hover {
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
}

.main-icon {
    padding: 5px;
}

.title {
    font-size: 1.5em;
    margin: 0.5em;
}

.searchBox {
    width: 40%;
    margin-left: 15%;
    border-radius: 5px;
    border: 1px solid lightgray;
    display: flex;
    box-shadow: 0 0 2px 2px lightgray;
    -moz-box-shadow: 0 0 2px 2px lightgray;
    -webkit-box-shadow: 0 0 2px 2px lightgray;
}

.searchInput {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
    margin-left: 1em;
}

.features {
    display: flex;
    margin: 0 auto;
    text-align: left;
}

.profilePic {
    width: 3.5em;
    height: 3.5em;
    padding: 0;
    border-radius: 50%;
    margin-right: 3em;
}

#name {
    border: 1px solid;
    position: absolute;
    padding: 5px;
    top: 2.5em;
    display: none;
    background-color: white;
}

.main {
    display: flex;
}

.spaceBtwn {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.sidenav {
    width: 20%
}

.iconSpace {
    margin-right: 1em;
}

.options {
    margin-top: 1em;
    display: flex;
    padding-left: 1em;
    border: 1px solid transparent;
    -webkit-border-radius: 0 25px 25px 0;
    border-radius: 0 25px 25px 0;
}

.options:hover {
    background-color: lightgray;
    cursor: pointer;
}

.selected-option {
    background-color: #feefc3;
}

#other-data {
    display: none;
}

.data-container {
    width: 100%;
    height: 100%;
    padding-left: 1em;
    display: flex;
    justify-content: center;
}

.add-note {
    display: flex;
    border: 1px solid lightgray;
    width: 88vh;
    height: auto;
    border-radius: 10px;
    margin: 1em;
    box-shadow: 0 0 2px 2px lightgray;
    -moz-box-shadow: 0 0 2px 2px lightgray;
    -webkit-box-shadow: 0 0 2px 2px lightgray;
}

#note-options {
    display: flex;
}

#card {
    width: 100%;
    height: 100%;
    display: none;
}

#cardData {
    border: none;
    outline: none;
    width: 96%;
    padding: 10px;
    resize: none;
}

#addLabelHover, #addColorHover, #addImageHover {
    display: none;
    border: 1px solid;
    position: absolute;
    padding: 5px;
    top: 21em;
    background-color: white;
}

#labelCard {
    display: none;
    border: 1px solid lightgray;
    width: 13%;
    padding: 5px;
    position: absolute;
    top: 21em;
    background: white;
}

#addLabelBtn {
    border: none;
    outline: none;
    background: white;
    cursor: pointer;
}

.tagLabel {
    background: lightgray;
    padding: 10px;
    margin: 5px;
    border-radius: 2em;
}

#colorCard {
    display: none;
    border: 1px solid lightgray;
    width: 9%;
    padding: 5px;
    position: absolute;
    top: 21em;
    background: white;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid;
}

.whiteColor {
    background: white;
}

.lavenderColor {
    background: lavender;
}

.peachColor {
    background: peachpuff;
}

.myCard {
    border: 1px solid lightgray;
    box-shadow: 0 0 2px 2px lightgrey;
    -moz-box-shadow: 0 0 2px 2px lightgray;
    -webkit-box-shadow: 0 0 2px 2px lightgrey;
    height: auto;
    border-radius: 10px;
    margin: 1em;
}

.data {
    width: 96%;
    border: none;
    resize: none;
    outline: none;
    padding: 0.5em;
    margin: 0;
}